@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container-admin {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    z-index: 10;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
    
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    z-index: 10;
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */

.navigation ul li:hover a::before, 
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -80%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -80%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;

}
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: rgba(255, 248, 248, 0.1) 0px 8px 24px;
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}


.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label {
    position: relative;
    width: 100%;
    color: var(--black2);
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    height: 40px;
    left: 10px;
    font-size: 1.2rem;
}
.list-nav, .list-nav ul {
    transition: 0.5s;
}
.list-nav ul {
    height: 100px;
    overflow: auto;
}
.list-nav ul li {
    border-radius: 200px;
}
.list-nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--black2);
    
}
.list-nav ul li:hover, .list-nav ul li:hover a {
    background-color: var(--blue);
    color: white;
}

.list-nav ul li a .icon {
    z-index: 10;
    position: relative;
    display: block;
    min-width: 30px;
    height: 30px;
    line-height: 40px;
    text-align: center;
}

.list-nav ul li a .icon ion-icon {
    font-size: 1.2rem;
}

.list-nav ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: start;
    white-space: nowrap;
}
.user {
    display: flex;
}
.user .img {
    position: relative;
    line-height: 100%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
.name p:nth-child(1) {
    color: var(--black1);
}
.name p:nth-child(2) {
    color: var(--black2);
}
.user .img img {
    position: absolute;
    top:53%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-stats ion-icon {
    height: 70%;
    width: 100%;
    color: var(--black2);
}

.name-stats {
    color: var(--black2);
    margin-bottom: 10px;
}
.number-stats {
    margin-bottom: 2px;
    color: var(--blue);
}

.card-statistic .col-6 .row {
    padding: 10px;
    width: 98%;
    box-shadow: rgba(170, 176, 181, 0.2) 0px 8px 24px;
    border-radius: 20px;
}
.card-statistic .col-6 {
    margin-bottom: 20px;
}

.card-statistic .col-6 .row:hover {
    background-color: var(--blue);
}

.card-statistic .col-6 .row:hover .name-stats,
.card-statistic .col-6 .row:hover .number-stats ,
.card-statistic .col-6 .row:hover .icon-stats ion-icon {
    color: white;
}

.details .recentOrders, .recentCustomer, .customer-details, .movie-detail {
    border-radius: 20px;
    box-shadow: rgba(170, 176, 181, 0.2) 0px 8px 24px;
}
.customer-details .title {
    font-weight: bold;
}
.invoice {
    color: white;
    border-radius: 20px;
}
.purple-gradient {
    background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
}
.customer-details .address {
    font-size: 15px;
}
.cardHeader h5 {
    color: var(--blue);
}
.badge {
    text-decoration: none;
    line-height: 100%;
}
.cardHeader .badge:hover {
    background-color: var(--blue) !important;
    color: var(--grey);
}

.table-order table, .table-customer table {
    color: var(--black2);
}

.details .recentOrders table tbody tr:hover, .details .table-customer table tbody tr:hover {
    background: rgb(221, 216, 255);
    color: #4b1b1b;
}

a.badge-delete:hover {
    background: rgb(244, 87, 87) !important;
}
a.badge-edit:hover {
    background: rgb(178, 178, 0) !important;
}
.detail-tiket {
    width: 100%;
    color: white;
    font-size: 14px;
    font-weight: 520;
    border-radius: 20px;
    min-height: calc(100% - 60px);
    background: linear-gradient(40deg, var(--blue),#2E3CB0) !important;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    body {
        overflow-x: hidden !important;
    }
    .name {
        display: none;
    }
    .navigation.active {
        display: none;
    }
    .main.active {
        left: 0 !important;
        width: 100% !important;
    }
    .main {
        width: 100%;
    }
    
    .number-stats {
        font-size: 22px;
    }
}
  
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }