body {
  position: relative;
  color: #ffffff;
  background-color: #0c111b;
  font-family: 'Poppins', sans-serif;
}

nav .container {
  flex-direction: row;
}
.navbar {
  background-color: #121926;
}

.nav-link {
  font-weight: 400;
}

.navbar-brand h3 {
  font-family: 'Zen Dots';
  color: #ffffff;
  text-shadow: 0px 0px 10px rgb(0, 162, 255);

}

nav {
  box-shadow: 0px 4px 6px -1px rgba(60, 56, 56, 0.3);
  z-index: 9999;
}


.card img {
  height: 260px;
  object-fit: cover;
  object-position: center;
}

.card {
  width: 220px;
  height: 320px;
}

.card:hover {
  box-shadow: rgba(226, 226, 230, 0.2) 0px 7px 29px 0px;
}

.card a {
  box-shadow: 0px 1px 8px 1px rgba(255, 255, 255, 0.548);
}

.card-title {
  text-decoration: none;
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .ordersmovie {
    font-size: 14px !important;
  }
  .card {
    width: 110px;
    height: 180px !important;
  }
  .card img {
    width: 100%;
    height: 110px;
  }
  h6.card-title {
    font-size: 9px !important;
    font-weight: 500 !important;
  }
  .detail {
    font-size: 10px !important;
  }
  .detail-img {
    width: 220px;
    margin: 20px auto;
  }


  .card-body h6 {
    font-size: 10px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .lg-collap{
    margin-left: 50px;
  }
  .ml-lg-50 {
    margin-left: 50px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }

/* footer */
footer {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  color: white;
  background-color: #121926;
  text-align: center;
}

/* detail */
.table {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Detail */
.bg-grey {
  background-color: rgb(54, 53, 53);
  padding: 4px 6px;
  border-radius: 5px;
}
.trailer {
  color: azure;
  background-color: rgb(54, 53, 53);
  padding: 4px 6px;
  border-radius: 5px;
}

.trailer:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 66, 66);
}

.detail-img:hover img {
  box-shadow: rgba(217, 214, 214, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.order {
  background-color: #121926;
  box-shadow: rgba(22, 22, 24, 0.2) 0px 7px 29px 0px;
}

.dropdown ul li {
  border-bottom: 1px solid; border-color: #99989869; 
}
.dropdown ul li:hover {
  background-color: rgba(153, 182, 241, 0.521);
  cursor: pointer;
}


.dropdown ul li img {
  width: 50px;
  padding: 10px;
}
li {
  list-style: none;
}
#schedules span {
  padding: 2px 4px;
  margin-right: 3px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
#schedules span i {
  margin-right: 3px;
}

#schedules span:hover {
  background-color: #4e6eaa;
}

.list-item-sc:hover, .list-item-time:hover {
  cursor: pointer;
  background-color: #172132;
}

.tiket span {
  padding: 2px 4px;
  cursor: pointer;
}

.tiket span:hover {
  background-color: #4e6eaa;
} 

.show-seat span {
  text-align: center;
  display: inline-block;
  width: 30px;
  cursor: pointer;
}

.metode img {
  background-color: white;
  box-shadow: rgba(193, 193, 220, 0.2) 0px 7px 29px 0px;
}